<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Rewind - Prototype</title>
	
	<!-- midi.js css -->
	<link href="{% static 'css/MIDIPlayer.css' %}" rel="stylesheet" type="text/css" />
	
	<!-- shim -->
	<script src="{% static 'inc/shim/Base64.js' %}" type="text/javascript"></script>
	<script src="{% static 'inc/shim/Base64binary.js' %}" type="text/javascript"></script>
	<script src="{% static 'inc/shim/WebAudioAPI.js' %}" type="text/javascript"></script>
	<script src="{% static 'inc/shim/WebMIDIAPI.js' %}" type="text/javascript"></script>
	
	<!-- jasmid package -->
	<script src="{% static 'inc/jasmid/stream.js' %}"></script>
	<script src="{% static 'inc/jasmid/midifile.js' %}"></script>
	<script src="{% static 'inc/jasmid/replayer.js' %}"></script>
	
	<!-- midi.js package -->
	<script src="{% static 'js/midi/audioDetect.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/gm.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/loader.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/plugin.audiotag.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/plugin.webaudio.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/plugin.webmidi.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/player.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/midi/synesthesia.js' %}" type="text/javascript"></script>
	
	<!-- utils -->
	<script src="{% static 'js/util/dom_request_xhr.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/util/dom_request_script.js' %}" type="text/javascript"></script>
	
	<!-- includes -->
	<script src="{% static 'inc/timer.js' %}" type="text/javascript"></script>
	<script src="{% static 'inc/colorspace.js' %}" type="text/javascript"></script>
	<script src="{% static 'inc/event.js' %}" type="text/javascript"></script>

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	<!-- Remodal -->
	<link rel="stylesheet" href="{% static 'css/remodal.css' %}">
	<link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}">
	<script src="{% static 'js/Chase/remodal.min.js' %}"></script>
	
	<!-- Custom Rewind Files -->
	<script src="{% static 'js/Chase/Rewind.js' %}" type="text/javascript"></script>
	<link href="{% static 'css/Rewind.css' %}" rel="stylesheet" type="text/css" />
	
</head>

<body>
	<div id="colors"></div>
	<div id="color2"></div>
	<div id="roll"></div>
	<div id="main-menu">
		<h1 class="rewind-title title">Rewind</h1>
		<h1 class="rewind-subtitle title">the</h1>
		<h1 class="rewind-subtitle title">Music</h1>
		<hr>
		<menu style="z-index: 6;">
			<button id="pausePlayStop" class="play main-btn" onclick="pausePlayStop()"><p class="timer"></p></button>
		</menu>
		<hr style="margin-bottom:5%;">
		
		<!-- Menu Options -->
		
		<div class="area">
			<span id="capsule">
				<span id="cursor"></span>
			</span>
		</div>
		<span id="time1" class="time">0:00</span>
		---------------
		<span id="time2" class="time">-0:00</span>

		<!-- Upload Button -->
		<div class="fileUpload btn btn-primary">
			<span>Upload a Song</span>
			<input type="file" id="file" class="file-button">
		</div>
		<!-- Upload Field Options -->
		<input id="file-text" placeholder="Choose File" disabled="disabled" />
		
		<!-- Player Toggle Options -->
		<div id="what" class="fileUpload btn btn-primary">
			<span>What is Rewind?</span>
			<a href="#what-modal"></a>
		</div>
		
		<!-- Player Toggle Options -->
		<div id="how" class="fileUpload btn btn-primary">
			<span>How does it work?</span>
			<a href="#how-modal"></a>
		</div>
		
		<!-- Player Toggle Options -->
		<div id="author" class="fileUpload btn btn-primary">
			<span>About the Authors</span>
			<a href="#author-modal"></a>
		</div>
		
		<!-- Download Options -->
		<div id="download" class="fileUpload btn btn-primary">
			<span>Download the Midi</span>
		</div>

		<!-- Acknowldegements Options -->
		<div id="acknowledgements" class="fileUpload btn btn-primary">
			<span>Acknowledgements</span>
			<a href="#acknowledgement-modal"></a>
		</div>
	</div>
	
	<!-- The what modal  -->
	<div class="remodal modal-background" data-remodal-id="what-modal">
	  <button data-remodal-action="close" class="remodal-close"></button>
	  <h2 class="modal-header">About Rewind</h2>
	  <p align="justify">
	  	Rewind was created as part for Chase Carthen in completion of a Master's in Computer Science with the aid of Vinh Le.
		Rewind is a Automatic Music Transcription (AMT) system that converts your favorite audio files into a midi. Midi is commonly used by others as a highly portable format that can be shared amongst others easily. It is possible to get transcirptions or the notes of your favorite music. These notes can be turned into guitar tabs, sheet music, or simply replayed back by your favorite. This website has an in-built sythnesizer that you can use to play your transcriptions made by the system.
	  </p>
	  <br>
	</div>

	<!-- The how modal  -->
	<div class="remodal modal-background" data-remodal-id="how-modal" style="overflow: scroll;">
	  <button data-remodal-action="close" class="remodal-close"></button>
	  <h2 class="modal-header">How Rewind Does Magic</h2>
	  <p align="justify">
	  	Rewind is a tool that automatically converts a digital audio file (mp3,wav,au, and other formats) into a symbolic format such as a midi file. Rewind automatically turns your audio files into a spectrogram and then converts it too a piano roll.
	  	<br>
	  	<br>
		Converting a <a href="https://en.wikipedia.org/wiki/Spectrogram">Spectrogram</a>:
		<br>
		<img src="{% static 'images/nottinghamspectrogram.png' %}" height="400" width="400" style = "display:block;margin-left:auto;margin-right:auto;">
		<br>
		<br>
		To a <a href="https://en.wikipedia.org/wiki/Piano_roll">Piano Roll</a>:
		<br>
		<img src="{% static 'images/simplereels153.png' %}" height="400" width="400" style = "display:block;margin-left:auto;margin-right:auto;">
		<br>
		This transcription happens through the magical backend created for Rewind that utilzies Deep Learning.
	  </p>
	  <br>
	</div>

	<!-- The author modal  -->
	<div class="remodal modal-background" data-remodal-id="author-modal">
	  <button data-remodal-action="close" class="remodal-close"></button>
	  <h2 class="modal-header">About the Authors</h2>
	  <p align="center">
	  	<img src="{% static 'images/Chase.jpg' %}" height="200" style = "display:block;margin-left:auto;margin-right:auto;" >
	  	<br>
	  	<b> Chase Carthen </b>
	  	<br>

	  	<br>

	  	<br>
	  	<img src="{% static 'images/Vinh.jpg' %}" height="200" style = "display:block;margin-left:auto;margin-right:auto;" >
	  	<br>
	  	<b>Vinh Le </b>
	  	<br>
	  </p>
	  <br>
	</div>

	<!-- The acknowledgements modal  -->
	<div class="remodal modal-background" data-remodal-id="acknowledgement-modal">
	  <button data-remodal-action="close" class="remodal-close"></button>
	  <h2 class="modal-header">Acknowledgements</h2>
	  <p align="justify">
	  	This material is based in part upon work supported by: The National Science Foundation under grant number(s) IIA-1329469, and by Cubix Corporation through use of their PCIe slot expansion hardware solutions and HostEngine. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation or Cubix Corporation.
	  </p>
	  <br>
	</div>
</body>
</html>